<!doctype html>
<html>
<head>
  <title>
    Quote Widget
  </title>
  <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='index.css') }}>
  <script src={{ url_for('static', filename='jquery-3.5.1.min.js') }}></script>
  <script src={{ url_for('static', filename='index.js') }}></script>
</head>
<body>
  <div id="main-container">
    <div id="main-banner">Quote Widget</div>
    <div id="login-button"> <a href="{{LOGIN_URL}}" id="login-a">Login</a> </div>

  <div>
</body>
</html>
